h1 a, h2 a {
    color:cornflowerblue;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
}

p {
    font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 150%;
}
